<div class="text-center">
  <h1>AlCompas</h1>
  <p>Lo mejor en letras y acordes para ti</p>
</div>

<h1>Las m&aacutes visitadas.</h1>
<div class="row">
	<% for i in (1..10)%>
	<div class="col-sm-4">
	  <p><strong>N&uacutemero <%= i %></strong></p><br>
	  <img src="../app/assets/images/bandmember.jpg" alt="Random Name" width="150" height="150" class="img-circle person">
	</div>
	<%end%>
</div>