<%= render 'shared/search'%>
<h1 class="text-center">Resultados de la b&uacutesqueda</h1>
<p>Se encontraron 2 resultados para 'when'</p>
<div class="table-responsive">
<table class="table table-striped ">
<thead>
    <tr>
      <th style="text-align: center">T&iacutetulo</th>
      <th >Autor</th>
      <th >G&eacutenero</th>
      <th >Calificaci&oacuten</th>
    </tr>
  </thead>
<tbody>
      <tr>
          <td><a href="songs/verCancion">When the leves break</a></td>
          <td>Led zeppelin</td>
          <td>Rock</td>
          <td>8.5</td>
      </tr>
      <tr>
          <td><a href="songs/verCancion">When you go</a></td>
          <td>Queen</td>
          <td>Rock</td>
          <td>7.6</td>
      </tr>
      
  </tbody>
</table>
</div>