<%= render 'shared/search'%>
<h1 class="text-center">Bohemian Rhapsody</h1>
<div class="row content">
	<div class="col-sm-2 sidenav">
      
    </div>
    <div class="col-sm-8 text-left"> 
    	<div class="row content">
    		  <div class="col-sm-6 text-left"> 
    		  <br>
    		  <br>
			      <h2><strong>Autor:</strong> Freddie Mercury</h2>
			      <h2><strong>Genero:</strong> Rock</h2>
			      <h2><strong>Album:</strong> A Night at the Opera</h2>
			      <h2><strong>Año:</strong> 1975</h2>
		      </div>
		      <div class="col-sm-6 text-left"> 
			     
			     <br>
				 <div class="embed-responsive embed-responsive-4by3"> 
				<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3p4MZJsexEs" frameborder="0" allowfullscreen></iframe>
				</div>
		      </div>
        </div>
        <br>
        <br>
        <div class="row content">
        	  <div class="panel panel-primary">
				  <!-- Default panel contents -->
				  <div class="panel-heading">Acordes</div>
				  <div class="panel-body">
				    <div class="container-fluid text-center bg-grey">
					  
					  <div class="row text-center">
					  	<h2>Afinaci&oacuten:</h2>
					  	<p>Tono estandar</p>
					    <div class="col-sm-3">
					      <div class="thumbnail">
					        <img src="bandmember.jpg" alt="Do">
					        <p><strong>Do</strong></p>
					        <p>(C)</p>
					      </div>
					    </div>
					    <div class="col-sm-3">
					      <div class="thumbnail">
					        <img src="bandmember.jpg" alt="Re">
					        <p><strong>Re</strong></p>
					        <p>(D)</p>
					      </div>
					    </div>
					    <div class="col-sm-3">
					      <div class="thumbnail">
					        <img src="bandmember.jpg" alt="Do">
					        <p><strong>Do</strong></p>
					        <p>(C)</p>
					      </div>
					    </div>
					    <div class="col-sm-3">
					      <div class="thumbnail">
					        <img src="bandmember.jpg" alt="Re">
					        <p><strong>Re</strong></p>
					        <p>(D)</p>
					      </div>
					    </div>
					</div>
				 </div>
        	</div>
        	</div>
        </div>
        <div class="row content">
        	  <div class="panel panel-primary">
				  <!-- Default panel contents -->
				  <div class="panel-heading">Letra</div>
				  <div class="panel-body">
				     <textarea class="form-control" id="letra" name="letra" placeholder="Escribe un mensaje" rows="100">Intro:
[slowly]
Bb6                     C7      Bb6  C7
Is this the real life?  Is this just fantasy?  

  F7        Cm7    F7          Bb        Cm7   Bb
Caught in A land - slide, no escape from re - ality.

Gm                   Bb7                 Eb
Open your eyes, look up to the skies and see.

Cm                    F7
 I\'m just a poor boy,   I need no sympathy, because I\'m 

B    Bb    A    Bb  B      Bb    A      Bb
easy come, easy go, little high, little low.

Eb         Bb[Dbass]  C#dim            F[Cbass]  F           Bb
Anyway the wind blows doesn\'t really matter to me, to_____ me.

Verse:

Bb             Gm                  Cm
Mama_____ just killed a man, put a gun against his head,

                            F
pulled my trigger, now he\'s dead.  

Bb                 Gm              Cm7
Mama,____ life had just begun, but now I\'ve gone and 

D#aug        Eb[BbBass]   F[Abass]  Fm[AbBass]
thrown it all      a - way.  

Eb    Bb[Dbass]  Cm         Fm
Mama, ooh__________  didn\'t mean to make you cry.  

   Bb                             Eb               Bb[Dbass]    Cm
If I\'m not back again this time tomorrow, car - ry on, car - ry on

      Abm            Eb          Ab   Eb   D#dim   Fm7   Bb  
as if nothing really matters.____ 

Verse 2:

Too late,_____ my time has come, sends shivers down my spine,
body\'s aching all the time.
Goodbye, everybody, I\'ve got to go, gotta leave you all
behind and face the truth.
Mama, ooh_____  I don\'t want to die,

  Bb                                      Eb  
I sometimes wish I\'d never been born at all.

Bb[Dbass]  Cm   Fm   Bb7   Eb   Gm[Dbass]  Cm   Fm   Db   Db[CbBass]   Bbm

Verse 3:
[faster]
A  D A     D#dim        A           D       A    D#dim
   I see a lit - tle sil - hou - et - to of a man.  

A           D      A           D      A        D#dim     A     D     A 
Scar - a - mouche, Scar - a - mouche, will you do the fan - dan - go?

Db[AbBass]      Ab        C[Gbass]   E           A 
Thunderbolt and lightning very, very fright\'ning me.

Gallileo, Gallileo, Gallileo, Figaro, Magnifico.__________

B   Bb     A    Bb      B    Bb      A     Bb
I\'m just a poor boy and no - bod - y loves me.  

Ab   Eb     D#dim  Eb  Ab     Eb   D#dim       Eb
He\'s just A poor boy from A poor Fam - i - ly.

Ab            Eb[Gbass]      F                 Bb
Spare him his life from this mon - stros - i - ty.

Ab  Eb[Gbass]  F#dim  Fm7    

B    Bb    A    Bb  B        Bb     A    Bb    Eb
Easy come, easy go, will you let me go?  Bis - mil - lah!

    Bb                    Eb
No, we will not let you go.  Bismillah!

Bb                    Eb             Bb
We will not let you go.  Bismillah!  We will not let you go.

Will not let you go.  Will not let you go.

Gb7
Ahhhhhhhhh________________________________

Bm  A   D   Db  Gb  Bb  Eb
No, no, no, no, no, no, no.

Eb               Bb        Eb        Ab        D          Gm       Bb 
Mama mia, let me go.  Be - el - ze - bub has a devil put aside for me,

for me,______ for me.______

Eb  F7

Bb7       Eb[BbBass]    Bb           Eb         Bb          Db
   So you think you can stone me and spit in my eye.______

Bb7       Eb[BbBass]    Bb          Eb          Ab
   So you think you can love me and leave me to die.______

Fm         Bb        Fm                       Bb   
Oh,______  baby,______  can\'t do this to me,  baby.______

Fm7            Bb   Fm7            Bb          Eb           Bb7 
Just gotta get out, just gotta get right outta here.______  

[slowly, a tempo]
Eb  Bb[Dbass]  Cm  G  Cm  G7  Cm  Bb7  Eb  D  Gm  Ab  Eb

 Cm            Gm       Cm         Gm
Nothing really matters, anyone can see.

 Cm            Abm       Bb11                     Eb         Ab[EbBass]
Nothing really matters, nothing really matters to me.______

Eb  D#dim  Bb[Dbass]  Bbm[DbBass]  C7  C7b9  C7  F  

Bb    F       Bdim  Gm7
Any - way the wind blows.

End on F</textarea>
				 </div>
        	 </div>
        </div>
    </div>
    <div class="col-sm-2 sidenav">
      
    </div>
</div>