
<div class="col-sm-3 col-md-2 col-xs-1 well " >
      <h3><a data-toggle="collapse" href="#col">AlCompas</a>

      </h3>
      <br>
      <div class="panel-collapse collapse" id="col">
      	<ul class="nav nav-pills nav-stacked" >
        <li ><a href="/pages_controller/inicio">Inicio</a></li>
        <li><a href="/pages_controller/acercade">Acerca de</a></li>
        <li><a href="/pages_controller/contactenos">Cont&aacutectenos</a></li>
        <li><a href="/users/sign_in">Iniciar sesi&oacuten</a></li>
        <li><a href="/users/sign_up">Reg&iacutestrate</a></li>        
        <li><a href="#">Buscar canci&oacuten</a></li>
        <li><a href="#">Canciones m&aacutes populares</a></li>
      </ul><br>
      </div>

</div>