<div class="well">
<div class="row">
    <div class="col-sm-3">
      <h3>Los 10 titulos m&aacutes buscados</h3>
      <ol>
      	<% for i in (1..10)%>
      		<li>T&iacutetulo N&uacutemero <%= i %></li>
      	<%end%>
      </ol>
      
    </div>
    <div class="col-sm-3">
      <h3>Las 10 canciones m&aacutes buscadas</h3>
      <ol>
      	<% for i in (1..10)%>
      		<li>Canci&oacuten n&uacutemero </li>
      	<%end%>
      </ol>
    </div>
    <div class="col-sm-3">
      <h3>Generos m&aacutes populares</h3>        
      <ol>
      	<% for i in (1..5)%>
      		<li>Canci&oacuten n&uacutemero </li>
      	<%end%>
      </ol>
    </div>
    <div class="col-sm-3">
      <h3>Column 3</h3>        
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
</div>
</div>

  

